body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* Node element */
.node {
  cursor: pointer;
  stroke: none;
  z-index: 2;
}

h1 {
  text-align: center;
}

#legend {
  font-size:  .83em;
  padding-bottom: 18px;
}


h5{
  padding: 0;
  margin: 0 0 10px !important;
}

h5+div{
  margin-bottom: 25px !important;
}

#inputs {
  background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
  padding: 25px;
  color: white;
  min-width: 300px;
  max-width: 400px;
}

/* Paragraph element which displays error */
#info {
  border-left: 6px solid #10703d;
  background-color: lightgrey;
  font-weight: bold;
  padding: 20px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

button{
  font-size: 12px;
  font-weight: bold;
}
#dropdown {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}

#viz>svg {
  width: 80vw;
  height: 100vh;
  background: rosybrown;
  border: 2px solid black;
  cursor: grab;
}

.zoombtn{
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: column;
}

.zoombtn>button{
  height: 40px;
  width: 40px;
  font-size: 26px;
  line-height: 0;
  margin: 10px;
}

/* Tables to display the method names and cyclomatic complexity */
#tables {
  position: absolute;
  padding: 40px;
  z-index: 10;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #10703d;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Link objects */
.link {
  fill: none;
  stroke: #82431f;
  stroke-width: 1.5px;
  z-index: -1;
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

/* Tooltip to display on Hover */
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 14px sans-serif bold;
  background: lightblue;
  border: 0px;
  font-weight: bold;
  border-radius: 3px;
  pointer-events: none;
}

/* Autocomplete for the search box */
.autocomplete {
  position: relative;
  display: inline-block;
}

/* Input  Elements */
input,
button {
  border: 1px solid transparent;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
  border: none;
}

#inputs *:not(button) {
  width: 100%;
  margin: auto;
}

.btn {
  width: 48%;
}

#searchButton {
  background-color: dodgerblue;
  color: #fff;
  width: 100%;
}

#searchButton:disabled {
  background-color: gray;
  color: black;
}

#colorbar {
  position: absolute;
  left: 10px;
  top: 10%;
  visibility: hidden;
}

#colorbar>svg{
  height: 370px;
  width: 90px;
  background: rgba(255, 255, 255, 0.408);
  border-radius: 10px;
}

#topbutton,
#backbutton {
  background-color: dodgerblue;
  color: white;
  width: fit-content;
  margin: 10px;
  border-radius: 50%;
  z-index: 10;
}

#backbutton:disabled{
  cursor: default;
}

#topbutton>svg,
#backbutton>svg{
  width: 25px;
}

#viz{
  position: relative;
}
.btnContainer {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.btn:disabled {
  background-color: DodgerBlue;
  color: white;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  margin: 0px;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  color: black;
  font-size: 11px;
}

.autocomplete-items div {
  padding: 10px;
  margin: 0px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}